.row
  .span9
    %h1 Upload a replay
    - if current_user.reached_weekly_replay_limit?
      %p You have reached your upload limit for this week and unfortunately will not be able to upload any more replays this week.
      %p Please come back and upload your replay next week.
    - else
      .upload_panel
        = render 'replays/form', :mode => :upload
  
  .span3
    - if current_user.reached_weekly_replay_limit?
      %h3 Weekly limits
      %p 
        There is a limit of 
        %b= Replay::WEEKLY_UPLOAD_LIMIT
        uploads per week. This limit exists to encourage fans to upload their very best replays.
    - else
      %h3 Weekly limits
      %p 
        Please complete the form on the left to upload a replay file for casting. In an effort to keep the quality of replays high you are only able to upload 
        %b= Replay::WEEKLY_UPLOAD_LIMIT
        replays per week.
      %h3 Finding your replays
      %p
        The file you upload must be a .SC2Replay file. These files can be found in the following locations depending on your OS:

        %h4 Windows
        %p 
          C:\Users\[user]\Documents\StarCraft II \Accounts\[account]\[profile]\Replays\

        %h4 OSX
        %p /Users/[user]/Library/Application Support/Blizzard/StarCraft II /Accounts/[account]/[profile]/ Replays/