*.swp
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
/config/database.yml
logfile
.database.yml.swp
/public/uploads
newrelic.yml
/config/application.yml
/backups