You have requested to reset your LAGTV website password, click the URL below to reset your password, if you did not request to reset your password you can ignore this email.

= edit_password_reset_url(@user.password_reset_token)