= simple_form_for [@replay, @comment], :validate => true, :html => { :class => 'form-horizontal' } do |f|
  = f.input :text, :placeholder => 'Enter your comment here...', :label => false 
  = f.input :rating, :as => :hidden
  = f.button :submit, :value => "Save Comment", :class => "btn btn-large btn-primary"
  #select_rating{ :data => { :rating => @comment.rating } }