#user_list
  .row
    .span9
      = render 'grid'

    .span3
      = render 'filters'

      .side_panel
        %h3 Permissions
        %p Admins and Community Managers have access to this member list.
        %p Admins can do everything.
        %p CMs can edit and deactivate member and moderator accounts.
        %p CMs cannot edit an admin account, if you try, you'll be kicked out of this area.