.page#home
  .row
    .span8
      .latest_video
        =raw @latest_video.embed_html5(:width => '620', :height => '390')

      .videos
        - @videos.each do |video|
          .recent
            = link_to image_tag(video.thumbnails.first.url), video.player_url
            = link_to video.title, video.player_url, :target => "_blank"

    .span4.replay_panel
      %h2 Upload a replay
      %p
        If you have a replay that you would like cast, then first you need to login to your account.
      %p.buttons
        = link_to "Login", "#", :class => "btn btn-large"
      %p
        If you do not yet have an account then you first need to register.
      %p.buttons
        = link_to "Register", "#", :class => "btn btn-large"
      