$default-text: #444;
$lighter-text: #888;
$bar1-midbg: #222;
$bar1-bottombg: #222;
$light-bg1: #111;
$mid-bg1: #ababab;
$mid-bg1-highlight: #a9a9a9;
$visited-text: black;

menu {
  padding-left: 0px;
}

.mark_all_viewed {
  margin-bottom: 15px;
}

.latest_posts_snippet {
  img {
    max-width: 400px;
    max-height: 400px;
  }
}

.forum_admin_controls {
  margin-bottom: 15px;
}

.bottom_controls {
  margin-top: 10px;
}

#forums, .topics {
  .title {
    font-size: 16px;
    font-weight: bold;
  }
}

.forums {
  th:first-child{
    width: 600px;
  }
}

#new_topic, #new_post, .edit_post, #new_forum, .edit_forum {
  textarea, input[type=text] {
    width: 700px;
  }
}

td.icon {
  width: 15px;
}


.category {
  h2 {
    a{
      color: #a10101;
    }
  }
}

#topic {
  .pages {
    margin-top: 10px;
  }
}

#posts{
  // http://www.quirksmode.org/css/clearing.html
  overflow: hidden;
  width: 100%;
  margin-top: 10px;

  .odd .contents {
    background-color: #ffffff;
  }
  .even .contents{
    background-color: #ffffff;
  }
  .post{
    position: relative;
    margin-top: .5em;
    margin-bottom: .5em;
    min-width: 35em;
    min-height: 75px;
    clear: both;
    .user{
      float: left;
      width: 180px;
      font-size: 12px;
      min-width: 75px;
      min-height: 100px;
      padding: 10px 12px;
      background: #ccc;
      color: #000;
      @include border-radius(7px 0 0 7px);

      .username {
        font-size: 14px;
      }
      .role {
        padding-bottom: 10px;
      }
      .icon {
        background: white;
        display: inline-block;
        border: solid 1px #fff;
      }
    }
    .contents{
      min-height: 100px;
      width: 700px;
      padding: 10px;
      float: left;
      margin-bottom: 15px;

      h1, h2, h3, h4 {
        margin-bottom: 15px;
      }

      span.in_reply_to {
        margin-top: 20px;
        float: right;
        display: block;
      }

      pre {
        clear: both;
        float: left;
      }

      blockquote {
        padding: 7px;
        background: #999;
        color: #fff;
        float: none;
        margin-bottom: 5px;
      }

      ul {
        margin-left: 2em;
        p {
          padding: 0;
          margin: 0;
          float: none;
        }
      }

      pre {
        width: 90%;
        background: #dfdfdf;
      }

      time{
        padding-bottom: 5px;
        color: $lighter-text;
        display: block;
        margin-bottom: 20px;
        border-bottom: solid 1px $mid-bg1;
      }
      &:hover .actions{
      }
      
      img {
        max-width: 700px;
        max-height: 700px;
      }

      .signature {
        margin-top: 10px;
        border-top: solid 1px #ABABAB;
        padding-top: 10px;
        max-height: 100px;
        overflow: hidden;

        blockquote {
          color: black;
          background: none;
          border: none;
          padding: 0 0 0 20px;
          margin: 0;
        }
      }

      .actions {
        list-style-type: none;
        margin: 15px 0 0 0;
        float: none;

        li{
          float: left;
          margin: 0;
          a{
            padding: .5em;
            margin-bottom: .1em;
            margin-right: 1px;
            font-size: 10px;
            text-align: center;
            display: block;
            text-decoration: none;
            color: $default-text;
            background-color: #ddd;
            &:hover{
              background-color: #ccc;
            }
          }
        }
      }
    }
  }
}