$default-text: #444;
$lighter-text: #888;
$bar1-midbg: #222;
$bar1-bottombg: #222;
$light-bg1: #111;
$mid-bg1: #ababab;
$mid-bg1-highlight: #a9a9a9;
$visited-text: black;

menu {
  padding-left: 0px;
}

footer#admin_link {
  background: none;
  margin-bottom: 15px;
}

#forums, .topics {
  .title {
    font-size: 16px;
    font-weight: bold;
  }
}

.forums {
  th:first-child{
    width: 600px;
  }
}

#new_topic, #new_post, .edit_post, #new_forum, .edit_forum {
  textarea, input[type=text] {
    width: 500px;
  }
}

#posts{
  // http://www.quirksmode.org/css/clearing.html
  overflow: hidden;
  width: 100%;
  margin-top: 10px;

  .odd .contents {
    background-color: #ffffff;
  }
  .even .contents{
    background-color: #efefef;
  }
  .post{
    position: relative;
    margin-top: .5em;
    margin-bottom: .5em;
    min-width: 35em;
    min-height: 75px;
    clear: both;
    .user{
      float: left;
      width: 17.7%;
      font-size: 12px;
      min-width: 75px;
      min-height: 100px;
      padding: .5em 1em;
      background: #666;
      color: white;
      .username{
        padding-bottom: .7em;
      }
      .icon{
        background: transparent url(http://placekitten.com/50/50) no-repeat;
        width: 50px;
        height: 50px;
        display: inline-block;
      }
    }
    .contents{
      min-height: 112px;
      width: 75%;
      border-left: 1px solid $mid-bg1;
      border-right: 1px solid $mid-bg1;
      padding: 10px;
      float: right;

      span.in_reply_to {
        font-size: 80%;
      }

      p, ul, pre, blockquote, span.in_reply_to {
        clear: both;
        float: left;
        padding: 5px;
      }

      p {
        margin: .5em 0em 0em 0em;
      }

      blockquote {
        -webkit-border-radius: 5px;
        padding: 0;
        width: 83%;
      }

      ul {
        margin-left: 2em;
        p {
          padding: 0;
          margin: 0;
          float: none;
        }
      }

      pre {
        width: 90%;
        background: #dfdfdf;
      }

      time{
        color: $lighter-text;
        font-size: .7em;
        display: block;
        margin-bottom: 20px;
        border-bottom: solid 1px $mid-bg1;
      }
      &:hover .actions{
      }
      
      .actions {
        list-style-type: none;
        margin: 0;

        li{
          float: left;
          margin: 0;
          a{
            padding: .5em;
            margin-bottom: .1em;
            font-size: .7em;
            text-align: center;
            display: block;
            text-decoration: none;
            color: $default-text;
            background-color: #ddd;
            &:hover{
              background-color: #ccc;
            }
          }
        }
      }
    }
  }
}