#home {  
  .latest_video {
    margin-bottom: 10px;
  }

  .replay_panel .buttons {
    text-align: center;
  }

  .videos {
    .recent {
      border: solid 1px #666;
      margin-bottom: 10px;
      font-size: 16px;
      background: #efefef;

      a {
        color: #222;
      }

      img {
        margin-right: 10px;
      }
    }
  }

  .nav#channel_tabs {
    margin-bottom: 0;
  }

  .tab-content {
    background: #fff;
    padding: 10px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
  }
}