body {
  padding-top: 40px;
  background: #efefef url(bg.png);
}

header {
  .social {
    height: 86px;
    border-top: 1px solid #fff;
    border-bottom: 6px solid #53bddb;
  }

  .logo {
    margin: -84px 0 0 389px;
  }

  .logo_line {
    height: 6px;
    background: #a10101;
  }
}
