body {
  padding-top: 40px;
  background: #efefef url(bg.png);
  font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

header {
  .navbar {
    border-bottom: 1px solid #fff;
    font-size: 14px;
    text-transform: uppercase;

    img {
      margin: -3px 3px 0 0;
    }

    .nav.pull-left > li > a {
      padding-left: 0;
      padding-right: 20px;
    }

    .nav.pull-right > li > a {
      padding-left: 20px;
      padding-right: 0;
    }
  }

  .social {
    height: 86px;
    border-bottom: 6px solid #53bddb;

    .twitch {
      margin-top: 35px;
      font-size: 25px;

      a {
        height: 33px;
        padding: 10px 15px;
        margin-top: 2px;
        color: #fff;
        @include border-radius(20px);

        span {
          height: 26px;
        }
      }

      .live {
        @include background-image(linear-gradient(#7bddec, #2599c7));
        font-weight: bold;
      }

      .offline {
        @include background-image(linear-gradient(#ccc, #999));
      }
    }

    .icons {
      a {
        display: block;
        width: 40px;
        min-height: 39px;
        float: left;
        margin: 22px 0 0 5px;
        background: url(social.png) no-repeat;
        padding-top: 30px;
        text-align: center;
      }

      .youtube {
        background-position: 0 0;
      }

      .twitter {
        background-position: -41px 0;
      }

      .facebook {
        background-position: -82px 0;
      }

      .store {
        background-position: -124px 0;
      }
    }
  }

  .logo {
    margin: -84px 0 0 389px;
  }

  .logo_line {
    height: 6px;
    background: #a10101;
  }
}

a.blue_pill {
  margin: 22px 25px 0 0;
  background: transparent url('blue_pill_end.png') no-repeat scroll top right;
  color: #fff;
  @include text-shadow(rgba(#000, 0.2) 2px 2px 0);
  display: block;
  float: left;
  font-size: 18px;
  height: 40px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;

  span {
    background: transparent url('blue_pill_expand.png') no-repeat;
    display: block;
    line-height: 29px;
    padding: 5px 0 5px 18px;
  }
}

.container.content {
  width: 980px;

  .main {
    .page {
      margin-top: 30px;
      background: #efefef;
      padding: 48px 20px;
      @include border-radius(7px 7px 0 0);
    }
  }
}

footer {
  background: #000;
  border-top: 6px solid #a10101;
  padding: 20px;
  color: #a10101;

  p {
    color: #ddd;   
    margin: 0;
    padding: 0;
  }

  ul {
    margin-left: 50px;

    a, a:visited, a:hover {
      color: #ddd;
    }
  }
}

.announcement {
  background: green;
  padding: 7px;
  color: white;
  border-bottom: 1px solid white;
  font-size: 14px;

  a, a:visited {
    color: white;
  } 

  i {
    margin-top: 2px;
  }
}