body {
  background: #efefef;
}

header {
  .logo {
    padding: 10px;
  }
}

footer {
  @include background-image(linear-gradient(#5c5c5c, #111111));
  @include border-top-radius(4px);

  p {
    padding: 20px;
    color: #fff;
  }
}

@import "icons/*.png";
@import "icons-small/*.png";
@include all-icons-sprites;
@include all-icons-small-sprites;

.navbar .nav > li.icon > a {
  margin: 2px 2px;
  padding: 0;
  display: block;
  width: 37px;
  height: 37px;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}