@mixin profile_icon($offset) {
  &.active {
    background-position: $offset 0;
  }
  &.disabled {
    background-position: $offset -30px;
  }
}

#public_profile {
  .report {
    margin-top: 30px;
  }

  .report_profile_form {
    display: none;
    margin-top: 15px;

    textarea {
      width: 500px;
      height: 100px;
    }
  }

  .report_profile {

  }

  .info {
    padding: 30px 30px 30px 10px;
    color: white;
    background: transparent image-url("profile_fade.png") repeat-y;
    height: 170px;
    @include border-radius(7px 7px 0 0);
  }

  .profile_banner {
    margin: -48px -20px 0 -20px;
    height: 230px;
    @include border-radius(7px 7px 0 0);
    margin-bottom: 30px;
    background-color: white;
  }

  h1.public_profile {
    font-weight: normal;
    font-size: 35px;
    margin: 15px 0 15px 0;
  }

  .country, .role {
    margin: 0 0 10px 0;
    font-size: 20px;
  }

  .joined {
    color: #ccc; 
  }

  .about_me {
    background: white;
    padding: 10px;
    border: solid 1px #ccc;
    @include border-radius(7px);
    margin-bottom: 20px;
    height: 300px;
    overflow-y: hidden;

    img {
      max-width: 435px;
    }
  }

  .player_connect {
    .carousel-inner {
      height: 265px;
    }

    .carousel-control {
      margin-top: 170px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;

      &.right {
        right: 175px;
      }

      &.left {
        left: 168px;
      }
    }
    
    .service {
      float: left;
      width: 210px;
      height: 50px;
      border: solid 1px #ccc;
      @include border-radius(7px);
      padding: 5px;
      background: white;
      margin: 0 5px 5px 0;

      &.linked {
        cursor: pointer;
      }

      a {
        background: image-url("offsite-link-icon.gif") no-repeat right 3px;
        padding-right: 15px;
      }
    }

    .logo {
      float: left;
      margin-right: 5px;

      img {
        @include border-radius(7px);
      }
    }

    .details {
      float: left;
    }

    .name {
      color: #2599c7;
    }
  }

  .forum_height_control {
    height: 230px;
  }

  .profile_icons {
    height: 30px;
    width: 150px;
    margin-top: 8px;

    .icon {
      background: transparent image-url("profile-icons.png") no-repeat;
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 10px;
    }

    .icon:last-child {
      margin-right: 0;
      float: right;
    }

    .you_tube {
      @include profile_icon(0px)
    }

    .twitter {
      @include profile_icon(-30px)
    }

    .facebook {
      @include profile_icon(-60px)
    }

    .twitch {
      @include profile_icon(-90px)
    }
  }
}