table {
  .filename.deleted {
    text-decoration: line-through;
  }
}

#edit_replay, #edit_comment {
  h1 {
    margin-bottom: 5px;
  }

  .uploaded-by {
    font-style: italic;
  }

  .edit_replay_form {
    margin-top: 20px;
  }

  .download-replay {
    width: 500px;
  }

  #new_comment {
    margin-bottom: 20px;
    .hidden {
      display: none;
    }
  }

  .comments {

    #select_rating {
      display: inline-block;
      float: right;
    }

    .comment {
      padding: 10px;
      background: #fdfdfd;
      border: solid 1px #ccc;
      margin-bottom: 5px;
      @include border-radius(5px);

      .text {
        margin-bottom: 10px;
      }

      .author {
        font-style: italic;
      }
    }
  }
}