#user_list {
  .name {
    font-weight: bold;
  }
}

#my-profile {
  .user_details {
    margin-top: 15px;
  }

  #replays {
    margin-top: 10px;

    ul {
      list-style-type: none;
      margin: 0;

      li {
        padding: 10px;
        background: #fdfdfd;
        border: solid 1px #ccc;
        margin-bottom: 5px;
        @include border-radius(5px);

        p {
          margin-bottom: 5px;
        }

        .expires {
         margin-bottom: 0; 
        }

        .title {
          font-size: 1.3em;
          font-weight: bold;
        }

        .description {
          font-style: italic;
        }
      }
    }
  }
}